
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

.content {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-size: 14px;
    font-family: 'inherit', 'tahoma';
    font-weight: 600;
}
.test-content {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 0px 0 50px;
    font-family: tahoma;
    font-size: 14px;
}
img[alt='logo'] {
    width: 100%;
}
h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
}

a {
    color: #333;
    font-size: 17px;
    text-decoration: none;
}

button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}
.overlay {
    background: linear-gradient(to right, #FF4B2B, #FF416C);
}
.form-container input {
    outline: none;
}
.form-container input:focus {
    border: 1px solid #d8d8d8;
}
.form-login {
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}
@media (min-width: 600px) {
    .w-30 {
        width: 25% !important;
    }
}
.form-container {
    justify-content: center;
    align-items: center;
}
.social-container li {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
}
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  .label-radius {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* On mouse-over, add a grey background color */
  .label-radius:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .label-radius input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .label-radius input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .label-radius .checkmark:after {
        top: 6px;
        left: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  input[type="radio"] {
      display: none !important;
  }
  .Polaris-ChoiceList__Title {
    font-size: 14px;
    font-weight: 400;
    line-height: 2rem;
    text-transform: none;
    letter-spacing: normal;
    display: block;
    margin: 0 0 .4rem;
    padding: 0;
    font-weight: bold;
}
.reading-radio {
    margin-top: 15px;
}
@media only screen and (min-width: 600px) {
    .reading-radio {
        display: flex;
    }
    .reading-left {
        width: 50%;
    }
}
/* css input text*/
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  text-align: center;
  width: 25%;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 14px;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: black;
}
/* css table*/
.section-1 table td {
    border-left: 1px solid;
    border-right: 1px solid;
}

.section-1 table thead th {  
    border: 1px solid;
}
.section-1 table{
    border-bottom: 1px solid;
}
/* css section 3 */
.question-3 table {
    width: 100%;
}
.question-3 table td {
    width: 50%;
}
.reading-passage-3 .form__field{
    width: 30% !important;
}
.form-header {
  background-color: #34495e;
  color: #ecf0f1;
  margin: 0px -15px;
  position: fixed;
  top: 0;
  max-width: inherit;
  width: 100%;
  z-index: 10;
}
#test-form {
    margin-top: 130px;
}
.form-group .col-sm-1 {
    padding-right: 0px !important;
}
.btn-successs {
    color: #fff;
    background-color: #34495e;
    border-color: #34495e;
    cursor: pointer;
    margin-top: 15px;
}

textarea {
    resize: none;
  }
  form input[type="text"], form input[type="password"], form input[type="email"], form input[type="url"], form input[type="date"], form input[type="month"], form input[type="time"], form input[type="datetime"], form input[type="datetime-local"], form input[type="week"], form input[type="number"], form input[type="search"], form input[type="tel"], form input[type="color"], form select, form textarea {
    display: inline-block;
    min-height: 40px;
    width: 100%;
    font-size: 14px;
    line-height: 1.8;
    padding: 6px 12px;
    vertical-align: middle;
    background-color: transparent;
    color: #333;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.form-login label {
    width: 100%;
}
.read_passage-2, .read_passage-1, .reading-passage-3-left {
    height: 400px;
    overflow-y: auto;
}
.read_passage-1 {
    height: 250px !important;
}
.text-warning {
    font-size: 17px;
}
.text-thanks {
    color: grey;
    font-weight: bold;
    font-size: 17px;
}
.section-title { border-bottom: 1px solid lightgray; }
.section-title span { padding: 5px; background: lightgray; display: inline-block; }

/* Scroll bar */
::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
    background-color: #F5F5F5; 
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(145, 145, 145)),
									   color-stop(0.72, rgb(98, 98, 99)),
									   color-stop(0.86, rgb(53, 53, 53)));
}
.btn-play-audio {
    color: white !important;
    background: grey;
    margin-top: 15px;
}

.table th, .table td { vertical-align: middle !important; }
.text-white-ios { color: rgb(255, 255, 255); -webkit-text-fill-color: rgb(255, 255, 255);  }

ul, li { list-style: none; }
.listening-result h6, .reading-result h6 { background: #dee2e6; }
table .form__field  { width: 37%; }
/* placeholder input */
.searchformfld{
    position: relative;
    margin: 5px 0px;
}
.searchformfld label{
    position: absolute;
    left: 32px;
    top: 0px;
    cursor: text;
    opacity: 0.5;
}
.searchformfld input:focus + label,.searchformfld input:not(:placeholder-shown) + label{
    opacity:0.5;
    transform: scale(.9) translateY(-0%) translateX(-32px);
    color:#000;
}
.searchformfld input{
    padding-left: 10px;
}
.searchformfld label,.searchformfld input{
    transition: all 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
}
/* Ipad */
@media screen and (min-width: 768px) {
    .form__field  { width: 17%; }
    table .form__field  { width: 29%; }
    .searchformfld label{
        left: 45px;
    }
    .searchformfld input:focus + label,.searchformfld input:not(:placeholder-shown) + label{
        transform: scale(.9) translateY(-0%) translateX(-45px);
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .form__field  { width: 13%; }
    table .form__field  { width: 22%; }
    .searchformfld label{
        left: 60px;
    }
    .searchformfld input:focus + label,.searchformfld input:not(:placeholder-shown) + label{
        transform: scale(.9) translateY(-0%) translateX(-60px);
    }
}